/* ~~~~~~~~~~~~~ */
/* ~~~ FONTS ~~~ */
/* ~~~~~~~~~~~~~ */

/* ~~~ Root Element Font Variables in pts ~~~ */

:root {
--font-size-004: 0.25rem;
--font-size-006: 0.375rem;
--font-size-008: 0.5rem;
--font-size-009: 0.5625rem;
--font-size-010: 0.625rem;
--font-size-011: 0.6875rem;
--font-size-012: 0.75rem;
--font-size-014: 0.875rem;
--font-size-016: 1rem;
--font-size-020: 1.25rem;
--font-size-024: 1.5rem;
--font-size-028: 1.75rem;
--font-size-032: 2rem;
--font-size-036: 2.25rem;
--font-size-040: 2.5rem;
--font-size-048: 3rem;
--font-size-056: 3.5rem;
--font-size-064: 4rem;
--font-size-072: 4.5rem;
--font-size-080: 5rem;
--font-size-096: 6rem;
--font-size-112: 7rem;
--font-size-128: 8rem;
--font-size-144: 9rem;
--font-size-192: 12rem;
--font-size-256: 18rem;
}

/* ~~~ Root Element Font Sizing ~~~ */

.font-08 {
  font-size: var(--font-size-008);
}

.font-10 {
  font-size: var(--font-size-010);
}

.font-12 {
  font-size: var(--font-size-012);
}

.font-14 {
  font-size: var(--font-size-014);
}

.font-16 {
  font-size: var(--font-size-016);
}

.font-20 {
  font-size: var(--font-size-020);
}

.font-24 {
  font-size: var(--font-size-024);
}

.font-32 {
  font-size: var(--font-size-032);
}

.font-48 {
  font-size: var(--font-size-048);
}

/* ~~~ Font Type ~~~ */

.font-serif {
  font-family: 'Times New Roman', Times, serif;
}

.font-sans {
  font-family: Arial, Helvetica, sans-serif;
}

/* ~~~ Font Hierarchy ~~~ */

.font-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-body:not(:last-of-type) {
  margin-bottom: 1em;
}

.font-blockquote {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ~~~ Text Alignment ~~~ */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}