body {
  height: 100vh;
  height: 100dvh;
  background-image: light-dark(
    linear-gradient(#d4d7de),
    linear-gradient(#293558)
  );
  border: 8px solid light-dark(#3e5085, #d4d7de);
}

.background-gradient {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  .background-gradient {
    background-image: radial-gradient(#566db0 30%, #293558);
    mix-blend-mode: hard-light; /* Not functional at this time */
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  .background-gradient {
    background-image: radial-gradient(#293558 30%, #566db0);
    mix-blend-mode: difference; /* Not functional at this time */
    opacity: 0.25;
  }
}
