/* ~~~~~~~~~~~~~~~ */
/* ~~~ FLEXBOX ~~~ */
/* ~~~~~~~~~~~~~~~ */

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--space-between {
  justify-content: space-between;
}

/* Flex Centering */

.flex--center-x {
  justify-content: center;
}

.flex--center-xy {
  justify-content: center;
  align-items: center;
}

.flex--center-y {
  align-items: center;
}

/* ~~~~~~~~~~~~ */
/* ~~~ GRID ~~~ */
/* ~~~~~~~~~~~~ */

.grid {
  display: grid;
}

.grid--autofill {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-l));
}

.grid--autofill[data-layout="thirds"] {
  /*  Example: Grid Autofill Thirds

    Using the following HTML markup:

    <div class="grid" data-layout="thirds">
      <!-- items -->
    </div> */

  /*
  By setting --grid-placement to auto-fit, we’re instructing the CSS grid system to try to size columns to fit space rather than the default behavior — with auto-fill — of creating as many columns as it deems sensible. */
  --grid-placement: auto-fit;

  /*
  When we set --grid-min-item-size to clamp(16rem, 33%, 20rem), what we’re saying is “the items should be a minimum 16rem, but ideally 33% of the grid container's width, and a maximum 20rem.” */
  --grid-min-item-size: clamp(16rem, 33%, 28rem);
}

/* ~~~~~~~~~~~~ */
/* ~~~ FLOW ~~~ */
/* ~~~~~~~~~~~~ */

/*
 * FLOW
 *
 * A tiny utility that helps with rhythm by adding margin to siblings
 *
 * --flow-space: The amount of space between siblings: Default 1em;
 */

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}