<!doctype html>
<head>
  <title>hgroup element</title>
  <link rel="stylesheet" href="hgroup-mdn.css"></style>
</head>
<body>
  <hgroup id="document-title">
    <h1>HTML: Living Standard</h1>
    <p>Last Updated 12 July 2022</p>
  </hgroup>
  <p>Some intro to the document.</p>
  <h2>Table of contents</h2>
  <ol id="toc">
    …
  </ol>
  <h2>First section</h2>
  <p>Some intro to the first section.</p>
</body>

<!-- See https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/hgroup for usage -->