<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Section Template</title>
  <link rel="stylesheet" href="/css/resets/reset.css">
  <link rel="stylesheet" href="/css/utilities/utilities.css">
  <link rel="stylesheet" href="/css/global/global.css">
  <link rel="stylesheet" href="/css/components/carousel.css">
  <link rel="stylesheet" href="/css/debug/debug.css">
</head>

<body>

<!-- ~~~~~~~~~~~~~ Carousel built with CSS Grid ~~~~~~~~~~~~~ -->
  <section>

    <div class="container--main">
      <h2>Section Heading</h2>

      <div class="flex flex--center-x" style="margin-bottom: 2rem;">
      
        <div class="carousel">
          <div class="img-full">
            <figcaption>Caption</figcaption>
          </div>
          <div class="thumbnails">
            <img class="thumbnail" src="" alt="Image alt text" class="logo"></img>
            <img class="thumbnail" src="" alt="Image alt text" class="logo"></img>
            <img class="thumbnail" src="" alt="Image alt text" class="logo"></img>
            <img class="thumbnail" src="" alt="Image alt text" class="logo"></img>
            <img class="thumbnail" src="" alt="Image alt text" class="logo"></img>
          </div>
          <div class="caption" style="color: black;">
            Blah blah blah caption
          </div>
          <div class="empty">

          </div>
        </div>
      
      </div>
      <p>This section will center the main group of content. As the viewport width shrinks, interior items will wrap to the start of their container.</p>
    </div>
    
  </section>

</body>

</html>