/*  
~~~~~~~~~~~~~~~~~~~~~
~~~ GLOBAL STYLES ~~~
~~~~~~~~~~~~~~~~~~~~~  */

/*  
~~~~~~~~~~~~~
~~~ Colors ~~
~~~~~~~~~~~~~  */
:root {
  --color-light: #ffffff;
  --color-light-shade: #eeeeee;
  --color-dark: #231f20;
  --color-primary: dodgerblue;
  --color-primary-shade: rgb(24, 103, 182);
  --color-highlight: dodgerblue;
}

/*  
~~~~~~~~~~~~~
~~~ Fonts ~~~
~~~~~~~~~~~~~  */
:root {
  /* 
  
  If you prefer using rem units (which are better for accessibility), 1rem is equal to 16px (the default root font size). 
  It’s much easier to convert px to rem when 1rem is equal to 10px (font-size: 62.5%), 
  but this can break third-party packages and user browser plugins.
  
  Instead, create a font design system by declaring variables with a memorable naming convention 
  and call those variables (e.g., font-size: var(--font-size-md);). 
  
  */
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
  --font-size-2-5xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;

  /* Project-specific fonts */
  --font-sans: "Work Sans", "Roboto", "Segoe UI", "Hind", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-serif: "Source Serif 4", "Times New Roman", serif;
  --font-headings: "Space Grotesk", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-body: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~ HTML Semantic Elements ~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  ~~ Defaults ~~  */
html {
  font-family: var(--font-sans);
}

body {
  background-color: #ddd;
  color: var(--color-dark);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1em;
}

/*  ~~ Headings ~~  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--font-size-4xl);
  font-weight: 300;
}

h2 {
  font-size: var(--font-size-3xl);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-2xl);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

h5 {
  font-size: var(--font-size-lg);
  font-weight: 400;
}

h6 {
  font-size: var(--font-size-md);
  font-weight: 300;
}

/*  ~~ Paragraphs and Lists ~~  */
p,
ul,
ol {
  font-family: var(--font-body);
}

/*  ~~ List Items ~~  */
li {
  font-family: var(--font-sans);
}

/*  ~~ Code Blocks & Preformatted Text ~~  */
code {
  font-family: var(--font-code);
  background-color: #f7f7f7;
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}

code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
  word-break: normal;
  word-wrap: normal;
}

pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

pre code:before,
pre code:after {
  content: normal;
}

/*  ~~ Horizontal Rule ~~  */
/* Determine best practice between border styling vs. background styling. */

/* Background styling */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 2px;
  margin: 1.75em 0;
}

/* Border styling */
hr {
  border: 1px solid black;
}

/*  ~~ Hyperlinks ~~  */
a {
  color: currentColor;
  font-weight: 600;
}

a:hover {
  color: var(--color-highlight);
}

header nav a::after {
  content: "";
  width: 100%;
  opacity: 0;
  height: 2px;
  display: block;
  background: currentColor;
}

header nav a:hover::after {
  background-color: var(--color-highlight);
  opacity: 1;
}

/*  ~~ Highlighted and Selected Text ~~  */

mark.highlight {
  color: var(--color-light);
  background-color: var(--color-highlight);
  font-style: normal;
}

::selection {
  color: var(--color-light);
  background-color: var(--color-highlight);
}

mark.highlight::selection {
  background-color: var(--color-dark);
}

/*  ~~ Blockquotes ~~  */

blockquote {
  background: #ddd;
  border-left: 10px solid #aaa;
  margin: 1.5em 0;
  padding: 1em 2em;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #aaa;
  font-family: var(--font-headings);
  font-style: normal;
  content: "\201C";
  font-size: 12rem;
  line-height: 0.1rem;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}

blockquote:before {
  content: "\201C";
}

blockquote p {
  font-family: var(--font-serif);
  font-size: var(--font-size-lg);
}

/*  ~~ Tables ~~  */

table {
  /* display: table; */
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
}

td,
th {
  padding: 0;
}

tr,
td {
  border: 0;
}

/* ~~ Images ~~ */

/* This will set a basic display when an image is not available. */
img {
  color: black;
  background-color: #bcbcbc;
  display: grid;
  place-items: center;
  object-fit: contain;
  padding: 1em;
}