/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Utility Classes ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~ */
/* ~~~ SIZING ~~~ */
/* ~~~~~~~~~~~~~~~~~~ */

.height-100 {
  height: 100%;
}

/* ~~~~~~~~~~~~~~ */
/* ~~~ LAYOUT ~~~ */
/* ~~~~~~~~~~~~~~ */

/*
 * FLOW
 *
 * A tiny utility that helps with rhythm by adding margin to siblings
 *
 * --flow-space: The amount of space between siblings: Default 1em;
 */
 
.flow {
    --flow-space: 1em;
}

.flow > * + * {
    margin-top: 1em;
    margin-top: var(--flow-space);
}

/* Margin */

.margin-left--auto {
  /* Pushes content to the right edge of container */
  margin-left: auto;
}

.margin-right--auto {
  /* Pushes content to the left edge of container */
  margin-right: auto;
}

/* Text Alignment */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Containers */

.container--main {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~ */
/* ~~~ FLEXBOX ~~~ */
/* ~~~~~~~~~~~~~~~ */

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--space-between {
  justify-content: space-between;
}

/* Flex Centering */

.flex--center-x {
  justify-content: center;
}

.flex--center-xy {
  justify-content: center;
  align-items: center;
}

.flex--center-y {
  align-items: center;
}

/* ~~~~~~~~~~~~ */
/* ~~~ GRID ~~~ */
/* ~~~~~~~~~~~~ */

.grid {
  display: grid;
}

/* Grid Centering */

.grid--center {
  place-items: center;
}

/* ~~~~~~~~~~~~~ */
/* ~~~ BLOCK ~~~ */
/* ~~~~~~~~~~~~~ */

/* Centering without Flex or Grid */

.center-horizontal {
  /* Center Horizontal-Only */
  margin: 0 auto;
}

.center-vertical {
  /* Center Vertical-Only */
  display: block;
  align-content: center;
}

/* Place Children */

.place-end {
  place-items: end;
}

/* Place Self */

.self--start {
  place-self: start;
}

.self--center {
  place-self: center;
}

.self--end {
  place-self: end;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ GAP [Flex or Grid] ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gap-xxs {
  gap: 0.5rem;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 2rem;
}

.gap-md {
  gap: 4rem;
}

.gap-lg {
  gap: 6rem;
}

.gap-xl {
  gap: 8rem;
}

.gap-xxl {
  gap: 10rem;
}

/* ~~~~~~~~~~~~~ */
/* ~~~ FONTS ~~~ */
/* ~~~~~~~~~~~~~ */

/* ~~~ Font sizes based on root ~~~ */

.font-xxs {
  font-size: 0.5rem;
}

.font-xs {
  font-size: 0.625rem;
}

.font-s {
  font-size: 0.75rem;
}

.font-s-md {
  font-size: 0.875rem;
}

.font-md {
  font-size: 1rem;
}

.font-md-lg {
  font-size: 1.25rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}