/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Utility Classes ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ CONTAINERS / WRAPPERS ~~~ */

.container--main {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  /* 
  Provides a consistent max width, padded container that sits in the middle of the viewport when the viewport is greater than 60ch wide. */
  --padding-inline: 1rem;
  --max-width: 60ch;

  margin-inline: auto;
  padding-inline: var(--padding-inline);
  max-width: var(--max-width);
}

/* ~~~ WIDTH (Percentages) ~~~ */

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.width-10 {
  width: 10%;
}

/* ~~~ HEIGHT (Percentages) ~~~ */

.height-100 {
  height: 100%;
}

.height-90 {
  height: 90%;
}

.height-80 {
  height: 80%;
}

.height-70 {
  height: 70%;
}

.height-60 {
  height: 60%;
}

.height-50 {
  height: 50%;
}

.height-40 {
  height: 40%;
}

.height-30 {
  height: 30%;
}

.height-20 {
  height: 20%;
}

.height-10 {
  height: 10%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ GAP (Flex or Grid) ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gap-xxs {
  gap: 0.5rem;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 2rem;
}

.gap-md {
  gap: 4rem;
}

.gap-lg {
  gap: 6rem;
}

.gap-xl {
  gap: 8rem;
}

.gap-xxl {
  gap: 10rem;
}
