/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Utility Classes ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* Margin */

.margin-left--auto {
  /* Pushes content to the right edge of container */
  margin-left: auto;
}

.margin-right--auto {
  /* Pushes content to the left edge of container */
  margin-right: auto;
}

/* Text Alignment */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ~~~~~~~ */
/* FLEXBOX */
/* ~~~~~~~ */

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--space-between {
  justify-content: space-between;
}

/* Flex Centering */

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

/* ~~~~ */
/* GRID */
/* ~~~~ */

.grid {
  display: grid;
}

/* Grid Centering */

.grid-center {
  place-items: center;
}

.self-center {
  place-self: center;
}

/* Centering without Flex or Grid */

.center-horizontal {
  /* Center Horizontal-Only */
  margin: 0 auto;
}

.center-vertical {
  /* Center Vertical-Only */
  display: block;
  align-content: center;
}

/* Placement */

.place-end {
  place-items: end;
}

/* Gap */

.gap-xxs {
  gap: 0.5rem;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 2rem;
}

.gap-md {
  gap: 4rem;
}

.gap-lg {
  gap: 6rem;
}

.gap-xl {
  gap: 8rem;
}

.gap-xxl {
  gap: 10rem;
}
