<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/css-resets/reset.css">
  <link rel="stylesheet" href="footer-styles.css">
</head>

<body>

  <footer>
    <section class="masthead container flex flex--space-between debug-border">

      <div class="logo-container">
        <img src="" alt="Alt text" width="300" height="400" class="logo"></img>
      </div>

      <nav class="contact-info text-right">
        <ul>
          <li><address>123 Main St.<br>Anytown, USA 99999</address></li>
          <li><a href="tel:+05890000111">(589) 000-0111</a></li>
          <li><a href="mailto:address@email.com">Email Us</a></li>
        </ul>
      </nav>

    </section>
  </footer>

</body>
</html>