/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Footer Tempate ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ Global Styles & Resets ~~~ */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  line-height: 1.5;
}

/* ~~~ Semantic HTML Elements ~~~ */

body {
  min-height: 100vh;
  background-color: #ddd;
  display: grid;
  place-items: center;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin-bottom: 0;
}

hr {
  border: 1px solid black;
}

img {
  color: black;
  background-color: #bcbcbc;
  display: grid;
  place-items: center;
  object-fit: contain;
  border: 2px solid black;
  padding: 1em;
}

/* ~~~ Utility Classes ~~~ */

/* Text Alignment */

.text-right {
  text-align: right;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--centered {
  justify-content: center;
  align-items: center;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--gap-sm {
  gap: 2rem;
}

.flex--gap-md {
  gap: 4rem;
}

.flex--gap-lg {
  gap: 6rem;
}

/* ~~~ Project Classes ~~~ */

/* Footer Component Styles */

footer {
  min-height: 20vh;
  width: 100%;
  padding: 4em;
  background: #343434;
  color: #ddd
}

footer a {
  color: gold;
}

.masthead {
  height: 100%;
  width: 100%;
}

.logo {}

.logo-container {
  aspect-ratio: 3/4;
}

/* ~~~ MEDIA QUERIES ~~~ */

/* Tablets & Smaller */

@media only screen and (max-width: 768px) {

  .flex {
    flex-direction: column;
  }

  .masthead {
    text-align: center;
  }

  .logo-container {
    display: grid;
    place-items: center;
    width: 100%;
  }

}

/* ~~~ Debug Styles ~~~ */

.debug-border {
  border: 1px solid salmon;
}