<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer Template</title>
  <link rel="stylesheet" href="/css/resets/reset.css">
  <link rel="stylesheet" href="/css/global/global.css">
  <link rel="stylesheet" href="/css/utilities/utilities.css">
  <link rel="stylesheet" href="/css/components/footer.css">
  <link rel="stylesheet" href="/css/debug/debug.css">
</head>

<body class="flex place-end">

  <footer>

    <div class="container--main flex flex--wrap gap-lg flex--space-between">

      <nav class="footer-links font-xl flex" aria-label="Main">
        <ul class="height-100 flex flex--column flex--space-between">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <section class="masthead flex flex--wrap gap-sm">

        <div class="logo-container">
          <img src="" alt="Logo alt text" width="300" height="400" class="logo"></img>
        </div>

        <address class="contact-info">
          <ul>
            <li>123 Main St.<br>Anytown, USA 99999</li>
            <li><a href="tel:+05890000111">(589) 000-0111</a></li>
            <li><a href="mailto:address@email.com">Email Us</a></li>
          </ul>
        </address>
      </section>
    </div>

  </footer>

</body>

</html>