/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Footer Tempate ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ Global Styles & Resets ~~~ */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  line-height: 1.5;
}

/* ~~~ Semantic HTML Elements ~~~ */

body {
  min-height: 100vh;
  background-color: #ddd;
  display: flex; /* grid also works */
  place-items: end;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin-bottom: 0;
}

hr {
  border: 1px solid black;
}

img {
  color: black;
  background-color: #bcbcbc;
  display: grid;
  place-items: center;
  object-fit: contain;
  border: 2px solid black;
  padding: 1em;
}

/* ~~~ Utility Classes ~~~ */

/* Margin */

.margin-left--auto {
  /* Pushes content to the right edge of container */
  margin-left: auto;
}

.margin-right--auto {
  /* Pushes content to the left edge of container */
  margin-right: auto;
}

/* Text Alignment */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ~~~~~~~ */
/* FLEXBOX */
/* ~~~~~~~ */

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--space-between {
  justify-content: space-between;
}

/* Flex Centering */

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

/* ~~~~ */
/* GRID */
/* ~~~~ */

.grid {
  display: grid;
}

/* Grid Centering */

.grid-center {
  place-items: center;
}

.self-center {
  place-self: center;
}

/* Centering without Flex or Grid */

.center-horizontal {
  /* Center Horizontal-Only */
  margin: 0 auto;
}

.center-vertical {
  /* Center Vertical-Only */
  display: block;
  align-content: center;
}

/* Gap */

.gap-xxs {
  gap: 0.5rem;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 2rem;
}

.gap-md {
  gap: 4rem;
}

.gap-lg {
  gap: 6rem;
}

.gap-xl {
  gap: 8rem;
}

.gap-xxl {
  gap: 10rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Project Classes ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* Footer Component Styles */

footer {
  min-height: 20vh;
  width: 100%;
  padding: 4em;
  background: #343434;
  color: #ddd
}

footer a {
  color: gold;
}

.logo-container {
  aspect-ratio: 3/4;
}

/* ~~~ MEDIA QUERIES ~~~ */
