body {
  background: #ccc;
  display: flex;
  width: 100%;
  height: 100vh;
}

.burger-wrapper {
  cursor: pointer;
  margin: auto;
  width: 50px;
  height: 40px;
}

.burger-wrapper .hamburger {
  background: black;
  width: 50px;
  height: 5px;
  position: relative;
  transition: background 10ms 300ms ease;
  transform: translateY(20px);
}

.burger-wrapper .hamburger:before,
.burger-wrapper .hamburger:after {
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  position: absolute;
  background: black;
  width: 50px;
  height: 5px;
  content: "";
}

.burger-wrapper .hamburger:before {
  top: -15px;
}

.burger-wrapper .hamburger:after {
  top: 15px;
}

.menu-trigger:checked ~ .burger-wrapper .hamburger {
  background: transparent;
}

.menu-trigger:checked ~ .burger-wrapper .hamburger:after,
.menu-trigger:checked ~ .burger-wrapper .hamburger:before {
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  top: 0;
}

.menu-trigger:checked ~ .burger-wrapper .hamburger:before {
  transform: rotate(45deg);
}

.menu-trigger:checked ~ .burger-wrapper .hamburger:after {
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}
