<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Section Template</title>
  <link rel="stylesheet" href="/css/resets/reset.css">
  <link rel="stylesheet" href="/css/utilities/utilities.css">
  <link rel="stylesheet" href="/css/global/global.css">
  <link rel="stylesheet" href="/css/components/section.css">
  <link rel="stylesheet" href="/css/debug/debug.css">
</head>

<body>
  <section>

    
    <div class="container--main">
      <h2>Section Heading</h2>
      <div class="flex flex--center-x" style="margin-bottom: 2rem;">
      
        <div class="flex flex--wrap gap-md">
            <img src="" alt="Logo alt text" width="300" height="400" class="logo"></img>
            <img src="" alt="Logo alt text" width="300" height="400" class="logo"></img>
            <img src="" alt="Logo alt text" width="300" height="400" class="logo"></img>
            <img src="" alt="Logo alt text" width="300" height="400" class="logo"></img>
        </div>
      
      </div>
      <p>This section will center the main group of content. As the viewport width shrinks, interior items will wrap to the start of their container.</p>
    </div>
  </section>

</body>

</html>